.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  margin: 0 !important;
  padding: 0 !important;

  border-color: transparent;
  background: none;
}

.close-text {
  color: var(--text-color-primary);
  font-size: var(--font-size-h2) !important;
}

.close-text:hover {
  color: rgb(var(--alert-color));
}

@media only screen and (max-width: 480px) {
  .content-container {
    width: 100vw;
  }

  .modal {
    width: 95vw;
    margin: 0 auto;
    padding: 0.5rem 1rem;
  }

  .close {
    right: 0.75rem;
  }
}
