.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  margin: 0 !important;
  padding: 0 !important;

  border-color: transparent;
  background: none !important;
}

.close:hover {
  background: var(--background-primary) !important;
  transform: unset;
}

.close-text {
  color: var(--text-color-primary);
  font-size: var(--font-size-h2) !important;
}

.close-text:hover {
  color: rgb(var(--alert-color));
}
