services:
  viz:
    image: ghcr.io/theworldavatar/viz:5.59.0
    container_name: "viz"
    restart: "no"
    environment:
      KEYCLOAK: false ## whether or not to use kc authentication on the server
      REDIS_SOCKET_ADDRESS: localhost:6379 ## set REDIS url if kc authentication is used
      PROTECTED_PAGES: /page,/otherpage ## pages that a user must be logged in to see
      ROLE_PROTECTED_PAGES: /protected/page/ ## pages that require a user to have a given REALM or CLIENT role
      ROLE: twa-test:protected ## the role required for the above list
      REACT_APP_USE_GEOSERVER_PROXY: false
      REACT_APP_SERVER_URL: http://localhost:3000 # only applicable for REACT_APP_USE_GEOSERVER_PROXY = true

      ASSET_PREFIX: # Fill this in if app is to be deployed at a reverse proxy path other than root
    secrets:
      - mapbox_username
      - mapbox_api_key
    build:
      context: .
      dockerfile: "Dockerfile"
      target: production
      labels:
        authors: "support@cmcl.io"
        description: "TWA Visualisation Platform image."
    volumes:
      - ./code/public:/twa/public/
      - public-hash:/twa/.public_hash
    ports:
      - "3000:3000"

secrets:
  mapbox_username:
    file: ./mapbox_username
  mapbox_api_key:
    file: ./mapbox_api_key

volumes:
  public-hash:
