.container {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  width: 100%;

  background: var(--background-tertiary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.row {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.row:last-child {
  border-bottom: none;
}

.row-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-secondary);
}

.row-marker {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1rem !important;
  width: 1rem !important;
  margin: 0 !important;

  color: var(--border-tertiary) !important;
  border-radius: 2px;
  border: 1px solid var(--border-tertiary);
}

.cell {
  flex: 1;
  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-primary);
  white-space: nowrap;
}

.delete-button {
  height: 1rem !important;
  width: 1rem !important;
  margin: 0 !important;
  border-radius: 0.1rem !important;
}

.delete-button span {
  color: var(--background-primary) !important;
}

.add-button-background {
  background-color: var(--button-color-primary) !important;
}

.add-button-background span {
  color: var(--background-primary) !important;
}

.delete-button-background {
  background-color: rgb(var(--alert-color)) !important;
}