.container {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  width: 100%;
}

.tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.25rem 0 0.25rem 1rem;
  border-radius: 4px;

  background: var(--background-tertiary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-secondary);
}

.row-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: normal;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
  color: var(--border-tertiary);
  border-radius: 2px;
  border: 1px solid var(--border-tertiary);
  cursor: pointer;
}

.row-marker.active {
  background-color: var(--border-tertiary);
  color: var(--background-primary);
  font-weight: bold;
}

.cell {
  flex: 1;
  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-primary);
  white-space: nowrap;
}

.delete-button {
  height: 1.5rem !important;
  width: 1.5rem !important;
  margin: 0 !important;
  border-radius: 0.1rem !important;
}

.delete-button span {
  color: var(--background-primary) !important;
}

.add-button-background {
  background-color: var(--button-color-primary) !important;
}

.add-button-background span {
  color: var(--background-primary) !important;
}

.delete-button-background {
  background-color: rgb(var(--alert-color)) !important;
}