.row-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.row-container:first-child {
  row-gap: 0;
}

.array-row {
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  column-gap: .5rem;
}

.array-row:first-child .cell {
  color: var(--text-color-primary);
}

.cell {
  flex: 1;
  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-secondary);
  white-space: nowrap;
}

.cell:last-child {
  flex: 0 0 8%;
}

.delete-button {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0.1rem !important;
  background-color: var(--alert-color) !important;
}

.delete-button span {
  font-size: var(--font-size-primary-text) !important;
  color: var(--background-primary) !important;
}

.delete-button-background {
  background-color: rgb(var(--alert-color)) !important;
}

.delete-button-background-disabled {
  cursor: default !important;
  background-color: rgba(var(--alert-color), 0.2) !important;
}