.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.action { 
  margin-left: 0;
}

@media only screen and (max-width: 480px) {
  .container {
    flex-direction: column-reverse;
    row-gap: 2.5rem;
  }

  .action { 
    width: 50%;
  }
}