.menu {
  display: flex;
  flex-direction: column;
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--border-primary);
  margin: 0;
}

.registry-nav-ribbon {
  display: flex;
}

.registry-nav-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.25rem 1rem !important;
  margin: 0 !important;
  border: none !important;
  border-radius: 0;
  background: none !important;
  transition: color 0.2s ease;
}

.registry-nav-button:hover {
  border-bottom: 2px solid var(--text-color-links);
  background: none !important;
}

.action-ribbon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.active-state {
  background-color: var(--background-primary);
}

@media only screen and (max-width: 480px) {
  .menu {
    justify-content: flex-start;
  }

  .action-ribbon-container {
    justify-content: flex-start;
    flex-direction: column;
  }

  .action-ribbon {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }
}
