.container {
  display: flex;
  align-self: center;
  flex-direction: column;

  height: 83vh;
  width: 90vw;
  padding: 1rem 2rem;
  margin: 1rem;

  background-color: var(--background-primary);
  border: 1px solid var(--border-primary) !important;
  border-radius: 20px;
}

.title {
  margin: 0.5rem 0rem 0.3rem;
}

.title h1 {
  color: var(--text-color-primary);
  font-size: var(--font-size-h1);
  text-align: center;
}

.instructions {
  font-size: var(--font-size-primary-text);
  padding-bottom: 0.5rem;
}

.contents {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  overflow-y: auto;
  overflow-x: auto;
}

.table {
  width: 100%;
  overflow-x: auto;
}

.header {
  border-bottom: none !important;
}

.row:nth-child(even) {
  background: rgba(131, 195, 141, 0.8);
}

.row:nth-child(odd) {
  background: rgba(124, 203, 219, 0.8);
}

.row-cell {
  font-size: var(--font-size-secondary-text) !important;
}

.table-icon-cell {
  display: inline-flex;
  flex-direction: row;
}
