.container {
  display: flex;
  align-self: center;
  flex-direction: column;

  height: 83vh;
  width: 90vw;
  padding: 1rem 2rem;
  margin: 1rem;

  background-color: var(--background-primary);
  border: 1px solid var(--border-primary) !important;
  border-radius: 20px;
}

.title {
  margin: 0.5rem 0rem 0.3rem;
}

.title h1 {
  color: var(text-color-title-primary);
  font-size: var(--font-size-h1);
  text-align: center;
}

.instructions {
  font-size: var(--font-size-secondary-text);
  padding-bottom: 0.5rem;
}

.contents {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  overflow-y: auto;
  overflow-x: auto;
}

.table {
  width: 100%;
  overflow-x: auto;
}

/* A fixed position wrapper for the horizontal scrollbar */
.scrollbar-container {
  position: sticky;
  bottom: 0;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 10;
  background-color: var(--background-primary);
  border-top: 1px solid var(--border-primary);
  padding-bottom: 2px;
}

.table-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: none !important;
}

.row-cell {
  font-size: var(--font-size-secondary-text) !important;
}

.even-row {
  background: rgba(131, 195, 141, 0.8);
}

.odd-row {
  background: rgba(124, 203, 219, 0.8);
}

.table-icon-cell {
  display: inline-flex;
  flex-direction: row;
}

.expand-icon {
  color: var(--text-color-links) !important;
}

.expand-icon:hover {
  color: var(--text-color-links-hover) !important;
}