.container {
  display: flex;
  align-self: center;
  flex-direction: column;

  height: 83vh;
  width: 90vw;
  padding: 1rem 2rem;
  margin: 1rem;

  background-color: var(--background-primary);
  border: 1px solid var(--border-primary) !important;
  border-radius: 20px;
}

.title {
  margin: 0.5rem 0rem 0.3rem;
}

.title h1 {
  color: var(text-color-title-primary);
  font-size: var(--font-size-h1);
  text-align: center;
}

.instructions {
  font-size: var(--font-size-secondary-text);
  padding-bottom: 0.5rem;
}

.contents {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  overflow-y: auto;
  overflow-x: auto;
}

.table {
  width: 100%;
  overflow-x: auto;

  border-spacing: 0;
  border-collapse: separate;
}

.table :global(.ant-table-thead > tr > th) {
  background-color: var(--text-color-links);
  color: var(--background-primary);
  font-weight: bold;
  padding: 0.5rem;
}

.table :global(.ant-table-tbody > tr > td) {
  padding: 0.5rem;
}

.header {
  padding: 0.5rem 0;
  background-color: var(--text-color-links);
  color: var(--background-primary);
}

.header-text {
  font-size: var(--font-size-primary-text);
}

.body-cell {
  border: none;
  font-size: var(--font-size-secondary-text);
}

.even-row {
  background-color: rgba(131, 195, 141, 0.3);
}

.even-row:hover {
  background-color: var(--button-color-primary) !important;
}

.odd-row {
  background-color: rgba(124, 203, 219, 0.3);
}

.odd-row:hover {
  background-color: #7ccbdb80 !important;
}

/* Handle row selection and hover effects */
.table :global(.ant-table-tbody > tr.ant-table-row:hover > td) {
  background: transparent; /* Let our custom hover styles take precedence */
}
/* Fix header border and padding */
.table :global(.ant-table-container table > thead > tr:first-child th:first-child) {
  border-top-left-radius: 5px;
}

.table :global(.ant-table-container table > thead > tr:first-child th:last-child) {
  border-top-right-radius: 5px;
}

/* Handle pagination styles */
.table :global(.ant-pagination) {
  margin-top: 1rem;
}
.table-icon-cell {
  display: inline-flex;
  flex-direction: row;
}

.expand-icon {
  color: var(--text-color-links) !important;
}

.expand-icon:hover {
  color: var(--text-color-links-hover) !important;
}