.userMenuButton{
    width: 45px !important;
    height: 45px !important;
    border-radius: 50% !important;
    background-color: #82B29A !important;
}

.text{
    margin-left: 0 !important;
}
.text:hover{
   color: inherit !important;
}


.userMenuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9rem;
    padding: 0.5rem;
    gap:1rem;
}

.seperationLine {
    width: 100%;
    height: 1px;
    background-color: var(--background-secondary);
}

.userMenuContainer a {
   color:black !important;
}

.userMenuContainer a:hover {
    text-decoration: underline;
    transition: none;
}