.userMenuButton {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
  margin-right: 1rem !important;
  background-color: #82b29a !important;
}

.userMenuButton span {
  font-size: 1.5rem !important;
}

.text {
  margin-left: 0 !important;
}
.text:hover {
  color: inherit !important;
}
