.userMenuButton {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
  margin-right: 2rem !important;
  background-color: #82b29a !important;
}

.userMenuButton span {
  font-size: 1.5rem !important;
}

.text {
  margin-left: 0 !important;
}
.text:hover {
  color: inherit !important;
}

.userButtons {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid var(--border-secondary);
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  font-size: 4px !important;
}

.userButtons:last-child {
  border-bottom: none;
}

.userMenuContainer a {
  color: var(--text-color-primary) !important;
  font-size: 3.5em !important;
}

.userMenuContainer span {
  font-size: 3.5em !important;
}

.userMenuContainer a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 5px;
  transition: none;
}
