.button-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--text-color-primary);
  transition: all 0.2s ease-in-out;
}

.active {
  background: var(--background-primary) !important;
  border: 1px solid var(--background-inverse-primary);
  transform: translateY(-1px);
}

.background {
  background: var(--button-color-primary);
  /* border: 1px solid transparent; */
}

.background-secondary {
  background: var(--button-color-secondary);
}

.background:hover {
  background-color: var(--button-color-primary-active);
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.background-transparent {
  background: none;
  border: none;
}

.icon {
  font-size: var(--icon-size) !important;
  transition: color 0.2s ease;
  color: var(--text-color-primary) !important;
}

.text {
  font-size: var(--font-size-primary);
  color: var(--text-color-primary) !important;
  margin-left: 0.5rem;
  font-weight: 500;
}

.background-text-color {
  color: var(--background-primary);
}

.transparent-text-color {
  font-size: var(--font-size-secondary-text);
  color: var(--text-color-primary);
}

.transparent-text-color:hover {
  color: var(--text-color-links-hover);
}

.icon-only-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0 0.5rem;
  transition: all 0.2s ease-in-out;
  background-color: var(--button-color-primary);
}

.icon-only-button:hover {
  background-color: var(--button-color-primary-active);
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popover {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 0.5rem;

  background-color: var(--background-primary);
  border: 1px solid var(--border-primary);
  border-radius: 0.2rem;
}

@media only screen and (max-width: 480px) {
  .button-container {
    padding: 0.5rem 0.5rem;
  }
}
