.numeric-input-container {
  position: relative;
  display: inline-block;
}

.numeric-input-scroller-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0.25rem;
  top: 0;
}

.numeric-input-scroller {
  display: inline-block !important;
  margin: 0 !important;
}

.min-max-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
}

.min-max-input-value {
  height: 1.8rem;
  width: 25vw;
  padding: 0.2rem;

  background-color: var(--background-primary);
  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-secondary);
}

.min-max-divider {
  width: 0.75rem;
  margin: 0.6rem 0.25rem;
  padding: 0 0.25rem;
  border-top: 2px solid var(--text-color-primary);
}

@media only screen and (max-width: 480px) {
  .min-max-divider {
    margin: 1.5rem 0.5rem;
  }
}
