.hamburgerMenuButton {
  margin-right: 1rem !important;
  background-color: transparent !important;
}

.hamburgerMenuButton span {
  font-size: 2rem !important;
}

.text {
  margin-left: 0 !important;
}
.text:hover {
  color: inherit !important;
}
