.form-field-container {
  display: flex;
  flex-direction: column;
  margin: 0 0.25rem 1vh;
  flex: 100%;
  width: calc(100% - 1rem);
}

.form-input-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.form-input-label {
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
  font-size: var(--font-size-tertiary-text);
  white-space: nowrap;
  text-align: left;
}

.form-input-label-add {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-input-value {
  width: 100%;
  height: 1.8rem;
  max-width: none;
  padding: 0.2rem;

  background-color: var(--background-primary);
  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-secondary);
}

.input-disabled {
  border: 1px inset var(--border-primary);
  background-color: var(--background-secondary);
  opacity: 0.75;
}

.input-disabled:focus {
  outline: none;
}

.field-disabled {
  cursor: not-allowed !important;
}

.dtpicker {
  height: 1.8rem;
  width: 100%;
  max-width: 100%;
  padding-left: 0.25rem;

  background-color: var(--background-primary);
  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-secondary);
}

.dtpicker::-webkit-calendar-picker-indicator {
  filter: invert(var(--invert));
}

.form-checkbox {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.1rem;
  padding: 0.5rem 1.5vw;
  background-color: var(--background-tertiary);
  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-secondary);
  width: 10vw;
}

.form-checkbox-hover:hover {
  outline: 2px solid var(--border-primary);
  background-color: var(--background-secondary);
  color: var(--text-color-secondary);
}

.form-checkbox-checked {
  outline: 2px solid #52b7a5 !important;
  background-color: var(--background-primary);
  color: var(--text-color-primary);
}

.info-icon {
  font-size: var(--font-size-primary-text);
  cursor: pointer;
}

.info-icon:hover {
  color: var(--text-color-links-hover);
}

.info-text-container {
  display: flex;
  justify-content: space-between;
}

.info-text {
  position: relative;
  padding: 0.5rem 0.5rem;
  margin: 1rem 0 0.5rem;
  width: 100%;

  background-color: var(--description-box);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-size: var(--font-size-tertiary-text);
  line-height: 1.25rem;
}

.info-text:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: -1rem;

  border: solid transparent;
  border-bottom-color: var(--description-box);
  border-width: 0.5rem;
}

.info-text-redirect-button {
  margin: 1rem 0 0.5rem !important;
  width: 5vw;
  border-radius: 0 !important;
}

.field-text {
  font-size: var(--font-size-tertiary-text);
}

.format-label {
  margin-left: 0.5rem;

  font-size: var(--font-size-tertiary-text);
  color: var(--text-color-secondary);
}

@media only screen and (max-width: 480px) {
  .form-checkbox {
    width: 100%;
  }
}
