name: Check Version

on:
  pull_request:
    branches:
      - main
    paths:
      - code/**

jobs:
  check-version:
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.CI_TRIGGER_PAT_USHCODE }}
          ## By default, actions/checkout uses the GITHUB_TOKEN secret, but this does not trigger CI which is required after this action, otherwise if the final commit is the twa-bot one, it will not check linting etc before a merge. This PAT ensures that CI is run

      - name: Set up Git
        run: |
          git config --global user.email "viz-bot@noreply.theworldavatar.io"
          git config --global user.name "twa-viz-bot"

      - name: Check version incrementation
        run: |
          chmod +x .github/scripts/check-version.sh
          .github/scripts/check-version.sh

      - name: Save version to environment
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV

      - name: Check for changes
        id: changes
        run: |
          git checkout ${{ github.head_ref }}
          git add code/package.json docker-compose.yml
          if ! git diff-index --quiet HEAD --; then
            echo "::set-output name=changes::changes"
          fi

      - name: Push auto incremented version changes
        if: steps.changes.outputs.changes == 'changes'
        run: |
          git commit -m "Update version to $VERSION in package.json and docker-compose.yml"
          git push origin ${{ github.head_ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.CI_TRIGGER_PAT_USHCODE }}
          ## Again, use the PAT to trigger CI